body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.collapse-content {
  display: flex;
  align-items: baseline;
  width: 100%;
}
.header-container {
  position: relative;
  margin-bottom: 20px;
}

.carousel-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle 
    at top left,
    rgba(255, 255, 255, 1), 
    rgba(255, 255, 255, 0) 65%
  );
  z-index: 5;
  pointer-events: none;
}
li.nav-item a.nav-link.active {
  font-weight: 700 !important;
}