body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.collapse-content {
  display: flex;
  align-items: baseline;
  width: 100%;
}
li.nav-item a.nav-link.active {
  font-weight: 700 !important;
}

/* Round phone input flag */
.PhoneInputCountryIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.PhoneInputCountryIconImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
